@charset "UTF-8";

/*header start*/

.header .top-nav-bg {
	background-color: #f8f8f8;
}
.header .top-nav {
	height: 30px;
}
.header .top-nav li {
	float: right;
	line-height: 30px;
	font-size: 12px;
}

.header .top-nav li a {
	height: 20px;
	padding: 0 18px;
	line-height: 20px;
	display: inline-block;
	border-right: 1px dotted #ccc;
}

.header .top-nav li a:hover {
	color: #f36;
}

.header .top-nav li:first-child a{
	border: none;
	padding-right: 2px;
}
/* header-banner s*/
.header .top-banner {
	display: block;
	width: 1200px;
	height: 75px;
	position: relative;
}

.header .top-banner img{
	display: block;
	width: 1200px;
	height: 75px;
}

/* top banner s */
.header .top-banner {
	display: block;
	height: 75px;
	background: lightblue;
}
.header .top-banner img {
	display: block;
}

/* top-banner e */
.header .search {
	height: 120px;
	padding-top: 20px;
}

/* search s */
/* logo s */
.header .search .logo{
	clear: both;

}
.header .search .logo h1 a {
  text-indent: -9999px;
	display: block;
	width: 200px;
	height: 50px;
	background: url(../img/logo.png) no-repeat center center;
	margin: 16px 132px 0 10px;
}

/* logo e */

/* 搜索框区域 */
.search-main {
	margin-top: 22px;
}
.search-main .search-box {
  box-sizing: border-box;
  position: relative;
  width: 520px;
  height: 35px;
  border: 2px solid #f36;
}
.search-main .search-box .search-select-list {
  position: absolute;
  top: -26px;
  left: -2px;
}

.search-main .search-box .search-select-list a {
  text-align: center;
  width: 56px;
  background: #F2F2F2;
  color: #666;
  line-height: 24px;
  font-size: 12px;
  float: left;

}

.search-main .search-box .search-select-list a.active {
  background: #f36;
  color: #fff;
}

.search-main .search-box .search-input {
  width: 449px;
  height: 31px;
  padding-left: 6px
}

.search-main .search-box .search-submit {
  float: right;
  background: #f36;
  color: #fff;
  width: 61px;
  height: 31px;
}
/* 搜索框结束 */

/* 热搜词 s */
.header .search .search-main .hot-search {
	font-size: 12px;
	margin-top: 14px;

}

.header .search .search-main .hot-search li {
	margin: 0 10px 0 0;
	float: left;
}
/* 热搜词 e */

/* 二维码图片样式 */
.header .search  a.download-code {
	display: block;
	width: 210px;
	height: 150px;
	margin-top: -20px;
}
.header .search  a.download-code img {
	display: block;
	height: 100%;
}

/* 分类导航条样式 */
.header .nav {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #f66;
}

.header .nav .nav-tab {
	display: inline-block;
	color: #666;
	margin-right: 80px;
}

.header .nav .nav-all {
		background: #f36;
		width: 285px;
	  text-align: center;
	  color: #fff;
	  position: relative;
}

/*全部商品列表的样式*/
 .nav .nav-all .product-attr{
	position: absolute;
	top: 40px;
	left: 0;
	width: 285px;
	box-sizing: border-box;
	border: 1px solid #f36;
	border-top: 0;
	background-color: #fff;
}
.nav .nav-all .product-attr li.list{  
	/*正常时候的样式*/
	position: relative;
	border-bottom: 1px dashed #ccc;
	margin: 0 20px;
	height: 42px;
	line-height: 41px;
}
.nav .nav-all .product-attr li.list:last-child {
	border-bottom: none;
}

.nav .nav-all .list-content {
	position: relative;
	z-index: 8;
}


/* hover时触发相关样式 */
.nav .nav-all  li.list:hover{  /*列被激活时候的样式，覆盖正常的样式*/
	border-bottom: 1px solid #f36;
	border-top: 1px solid #f36;
	/* 使border整行显示，而不改变视图 */
	margin: 0;
	padding-left: 20px;  
	margin-top: -1px;
	/* 加上border超出1像素，覆盖右侧 */
	width: 284px;
	/* 比原来大一像素，保证视图高度一致 */
	height: 43px;
	border-right: 1px solid #fff;
}

.nav .nav-all li.list:hover .list-content {
	position: relative;
	border-right: 1px solid #fff;
	margin-right: -1px;
	z-index: 8;
}

.nav .nav-all  li.list:hover ul.nav-list {
	display: block;
} 


.nav .nav-all .list-content h3.list-title{
	float: left;
	width: 29px;
	overflow: hidden;
	font-size: 14px;
	font-weight: normal;
	margin-right: 20px;
}
.nav .nav-all .list-content p.list-para{
	float: left;
	width: 180px;
	overflow: hidden;
	font-size: 12px;
	color: #666;
}
.nav .nav-all .list-content p.list-para a{
	float: left;
	margin-right: 10px;
}
.nav .nav-all .list-content i{
	float: left;
	color: #aaa;
	font-size: 14px;
}
/* 二级导航盒子 */
.nav .nav-all  li.list ul.nav-list{
	display: none;
	position: absolute;
	top: -1px;
	left: 283px;
	width: 260px;
	border: 1px solid #f36;
	padding-left: 20px;
	padding-bottom: 10px;
	box-sizing: border-box;
	background-color: #fff;
	z-index: 4;
}

.nav .nav-all  li.list ul.nav-list h4{
	height: 20px;
	line-height: 20px;
	padding-top: 12px;
	padding-bottom: 20px;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
}
.nav .nav-all  li.list ul.nav-list p{
	font-size: 12px;
	line-height: 24px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.nav .nav-all li.list ul.nav-list p a{
	float: left;
	margin-right: 14px;
}

/* 二级导航盒子结束 */

/*header end*/

/*carousel start*/



.carousel {
  position: relative;
	margin: 17px 0 0 304px;
  width: 896px;
  height: 447px;
  overflow: hidden;
}

.img-ct {
  position: absolute;
}

.img-ct::after {
  content: " ";
  display: block;
  clear: both;
}

.img-ct a {
  float: left;
}

.img-ct a img {
  width: 896px;
  height: 447px;
}

.bullet {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.bullet li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  margin: 5px;
}

.bullet li.active {
  width: 20px;
  background-color: #f36;
}

.arrow {
  position: absolute;
  top: 50%;
  color: #fff;
  margin: 0 10px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  font-size: 60px;
}

.arrow.next {
  right: 0;
}

/*carousel end*/

/*content start*/

/* 推荐 */
.content .ad-rec {
	margin-top: 20px;
}

.content .ad-rec a {
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: 285px;
	height: 285px;
	margin-right: 20px;
}

.content .ad-rec a img{
	display: block;
	height: 100%;
}

.content .ad-rec a:last-child {
	margin-right: 0;
}

/* 直邮 */

.content .direct-mail>h2,
.content .for-you>h2{
	display: table-cell;
	vertical-align: middle;
	width: 1200px;
	height: 108px;
	text-align: center;

}

.content .direct-mail>h2 img {
	display: inline-block;
	width: 104px;
	height: 40px;
}

.content .direct-mail .brand-collect  {
	width: 283px;
	height: 590px;
}

.content .direct-mail .brand-collect .brand-top {
	display: block;
	width: 282px;
	height: 297px;
}

.content .direct-mail .brand-collect .brand-top img {
	display: block;
	width: 282px;
	height: 100%;
}
.content .direct-mail .brand-collect .brand-logo {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
}
.content .direct-mail .brand-collect .brand-logo a{
	display: block;
	width: 141px;
	height: 97px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	float: left;
}

.content .direct-mail .brand-collect .brand-logo a img {
	display: block;
	width: 140px;
	height: 96px;
}

.content .direct-mail .show-one {
	width: 304px;
	height: 590px;
}

.content .direct-mail .show-one a {
	display: block;
	width: 304px;
	height: 590px;
}

.content .direct-mail .show-other {
	width: 591px;
	height: 590px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;

}

.content .direct-mail .show-other a {
	float: left;
	display: block;
	width: 293px;
	height: 294px;
	border-left: 2px solid #eee;
	border-top: 1px solid #eee;
}

.content .for-you .for-you-line1{
	height: 284px;
}

.content .for-you .for-you-line1 a.xg-big {
	display: block;
	width: 590px;
	height: 282px;
	float: left;
	margin-right: 22px;
}

.content .for-you .for-you-line1 a.xg-big img {
	display: block;
	width: 592px;
	height: 282px;
}

.content .for-you .for-you-line1 a.xg-sm {
	display: block;
	width: 182px;
	height: 282px;
	float: left;
	margin-right: 21px;
}

.content .for-you .for-you-line1 a.xg-sm:last-child {
	margin-right: 0;
}

.content .for-you .for-you-line1 a.xg-sm img {
	display: block;
	width: 182px;
	height: 282px;
}

.content .for-you .for-you-line2{
	height: 220px;
	margin-top: 20px;
}

.content .for-you .for-you-line2 .attr {
	float: left;
	width: 284px;
	height: 220px;
	background: #f9f9f9;
	padding: 10px 0 0 18px;
	margin-right: 20px;
}

.content .for-you .for-you-line2 .attr li {
	float: left;
	width: 81px;
	height: 20px;
	line-height: 20px;
	margin: 10px 0;
	text-align: center
}

.content .for-you .for-you-line2 .attr li a:hover {
	color: #f36;
}

.content .for-you .for-you-line2 a.line2-a {
	float: left;
	display: block;
	width: 285px;
	height: 220px;
  margin-right: 20px;
}

.content .for-you .for-you-line2 a.line2-a img{
	float: left;
  display: block;
	width: 285px;
	height: 220px;
}

.content .for-you .for-you-line2 a.line2-a:last-child {
	margin-right: 0;
}

/*content end*/

/*footer start*/
.footer {
	border-top: 1px solid #ddd;
	background: #f5f5f5;
	margin-top: 15px;
	padding: 35px 70px 0px 76px;
}

.footer .something ul.info>li {
	float: left;
	margin-right: 104px;
}

.footer .something  h4 {
	font-weight: bold;
	margin-bottom: 22px;
	font-size: 16px;
}

.footer .something ul.info>li li a{
	display: inline-block;
	margin-bottom: 25px;
}

.footer .something ul.info li a:hover {
	color: #f36;
}

.footer .something ul.follow {
	padding-left: 124px;
}

.footer .something ul.follow li{
	float: left;
	padding-right: 55px;
}

.footer .something ul.follow li img {
	display: block;
	width: 100px;
	margin: 0 auto;
}

.footer .something ul.focus li a span{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/footersprite.png) no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}

.footer .something ul.focus li a span.qzone {
	background-position:  -28px;
}

.footer .something ul.focus li a span.tencent {
	background-position:  -56px;
}
.footer .record {
	border-top: 1px solid #e6e6e6;
	height: 70px;
}

.footer .record p {
	text-align: center;
	color: #666;
	margin-top: 12px;
	font-size: 12px;
}

.footer .record p a:hover {
	color: #f36;
}

/*footer end*/
/* sidebar s */
.sidebar{
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 38px;
	background-color: #f6f6f6;
	border-left: 1px solid #ddd;
}

.sidebar ul{
	margin-top: 25px;
	border-top: 1px solid #ddd;
}

.sidebar li{
	border-bottom: 1px solid #ddd;
	text-align: center;
}
.sidebar li span{
	display: inline-block;
	margin-left: -14px;
	height: 30px;
	transform: rotate(90deg);
}
.sidebar li a{
	font-size: 12px;
	display: block;
	width: 16px;
	padding: 16px 12px;
	line-height: 16px;
}
.sidebar li i{
	color: #f36;
	margin-bottom: 10px;
	margin-left: -2px;
}
.sidebar li:hover{
	background-color: #f36;
	color: #fff;
}
.sidebar li:hover i,#side-bar li:hover a{
	color: #fff;
}
.sidebar li.go-top{  /*默认隐藏*/
	display: none;
}
/*侧边栏下载APP二维码*/
.sidebar .qr-code{
	display: none;
	position: relative;
	padding: 13px;
	background-color: #fff;
	border: 1px solid #ddd;
}
/* .sidebar .qr-code::before{
	content: "";
	position: absolute;
	top: 45px;
	right: -13px;
	border-left: 13px solid #ddd;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
} */
.sidebar .qr-code::after{
	content: "";
	position: absolute;
	top: 45px;
	right: -12px;
	border-left: 13px solid #fff;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
}
.sidebar li.download{
	position: relative;
}
.sidebar li.download:hover .qr-code{
	display: block;
	position: absolute;
	top: 0;
	right: 38px;
}

/* sidebar e */
